@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-additive: var(--additive);
  --color-additive-foreground: var(--additive-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #faf4ed;
  --foreground: #575279;
  --primary: #286983;
  --primary-foreground: #faf4ed;
  --secondary: #f2e9e1;
  --secondary-foreground: #575279;
  --muted: #f2e9e1;
  --muted-foreground: #797593;
  --accent: #d7827e;
  --accent-foreground: #575279;
  --additive: #56949f;
  --additive-foreground: #faf4ed;
  --destructive: #b4637a;
  --destructive-foreground: #faf4ed;
  --border: #dfdad9;
  --ring: #907aa9;
}

[data-theme="dark"] {
  --background: #191724;
  --foreground: #e0def4;
  --primary: #c4a7e7;
  --primary-foreground: #191724;
  --secondary: #26233a;
  --secondary-foreground: #e0def4;
  --muted: #26233a;
  --muted-foreground: #908caa;
  --accent: #eb6f92;
  --accent-foreground: #e0def4;
  --additive: #9ccfd8;
  --additive-foreground: #191724;
  --destructive: #eb6f92;
  --destructive-foreground: #e0def4;
  --border: #403d52;
  --ring: #6e6a86;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }
}
