.navBar {
    width: 40vw;
    height: 60px;
    background-color: #0d0d0d;
    border-radius: 15px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition: top 0.2s;
}

.hide {
    top: -100px;
}

.iconContainer {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.iconContainer img {
    border-radius: 50px;
}
.iconContainer p {
    margin-left: 10px;
}

.backHomeLink {
    justify-content: flex-end;
    margin-right: 20px;
}

/* some fixes for mobile and small viewports */
@media (max-width: 1160px) {
    .navBar {
        width: 100vw;
        top: 0;
        border-radius: 0;
        height: 60px;
    }
}

@media (prefers-color-scheme: light) {
    .navBar {
        background-color: #0d0d0d;
    }
}