/* All navbar code was refactored to now be in the BlogNavBar.css file alongside with the component. */

/* I adjust the card's width on the BlogPostCard.css file instead of here */
.blogPosts {
    margin-top: 80px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogPosts > * {
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #191919;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}