---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import FormattedDate from '../components/FormattedDate.astro'
import type { PostOrPage } from '@tryghost/content-api'
import { Image } from 'astro:assets'

type Props = PostOrPage

const { title, excerpt: description, published_at, updated_at, feature_image, feature_image_caption, feature_image_alt } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title!} description={description || '(no description)'} />
  </head>

  <body>
    <Header />
    <main class="w-full max-w-full mx-0">
      <article class="my-16 sm:my-0">
        <div class="mb-4 pt-4 text-sm leading-none">
          
          <h1 class="m-0 mb-2 text-center text-4xl font-bold">{title}</h1>
          <hr />
        </div>

        <div class="flex flex-col items-center">
          <div class="mb-4">
            {feature_image && <Image class="shadow" width={720} height={200} src={feature_image} alt={feature_image_alt || ''} />}
          </div>
          {feature_image_caption && <span class="text-left text-sm italic  ml-4" set:html={feature_image_caption} />}
        </div>
        

        <div class="prose dark:prose-invert prose-code:dark:text-black w-prose max-w-[calc(100%-2em)] mx-auto p-2">
          <div class="mb-2 text-gray-500">
            <FormattedDate date={new Date(published_at!)} />
            {
              updated_at && (
                <div class="italic">
                  Last updated on <FormattedDate date={new Date(updated_at)} />
                </div>
              )
            }
          </div>
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
